# ONLY FOR APACHE

RewriteEngine On
Options +FollowSymlinks
RewriteBase /u2s/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/?$ index.php?a=$1 [L,QSA]


#
# FOR NGINX, if in subdirectory url2shurl, remove url2shurl below if in root dir
#
#
# location /url2shurl {
#     try_files $uri $uri/ /url2shurl/index.php?$args;
# }
#
