# ONLY FOR APACHE

RewriteEngine On

# RewriteCond $1 !^(index\.php)
# RewriteRule ^(.*)$ index.php?l=$1 [L]

# This will stop processing if it's images
# RewriteRule \.(css|jpe?g|gif|png|js)$ - [L] 


# Redirect everything to apache
# If the requested filename isn’t a file….
#RewriteCond %{REQUEST_FILENAME} !-f
# and it isn’t a folder…
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?$1 [L,QSA] 

# L = (last - stop processing rules)
# QSA = (append query string from requeste to substring URL)

#
# FOR NGINX, if in subdirectory url2shurl, remove url2shurl below if in root dir
#
#
# location /url2shurl {
#     try_files $uri $uri/ /url2shurl/index.php?$args;
# }
#
